# Build artifacts
**/target/
**/build/
*.pdb
*.exe
*.sys
*.dll
*.o
*.obj
*.lib
*.exp

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Rust
.cargo/

# Misc
_*
!/docs/*
kernel
docs
*.tmp
*.logcached_schema/
louismod_crash.log
louismod_debug.log
